.menu {
    border-bottom: 1px solid $darkgrey;
    display: flex;
    flex-shrink: 0;
    margin-right: 1px;

    // the following code draws a single pixel
    overflow: visible;
    @include innerBorder {
        border-bottom: 1px solid whitesmoke;
        right: -1px;
        bottom: -1px;
        left: 100%;
    }

    .item {
        padding: 1px 5px;
        margin: 1px 0;
        flex-shrink: 0;
        overflow: visible;

        &:hover {
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-bottom: 1px solid $darkgrey;
            border-right: 1px solid $darkgrey;
            padding: 0 4px;
        }

        &.selected {
            border-top: 1px solid $darkgrey;
            border-left: 1px solid $darkgrey;
            border-bottom: 1px solid white;
            border-right: 1px solid white;
            padding: 0 4px;
            span {
                display: block;
                margin: 1px -1px -1px 1px;
            }
        }

        .list {
            @extend .windowShading;
            position: absolute;
            left: 0;
            top: 0;
            flex: unset;
            > div:hover {
                color: white;
                background-color: $blue;
            }
        }
    }
}

