@import './variables.scss';
@import './mixins.scss';
@import './ui/titlebar.scss';
@import './ui/menu.scss';
@import './ui/toolbox.scss';
@import './ui/workspace.scss';
@import './ui/statusbar.scss';
@import './ui/scrollbars.scss';
@import './ui/palette.scss';

html {
    overflow: hidden;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    display: block;
}

div {
    overflow: hidden;
}

img,
canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.noselect,
.window,
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.window {
    position: relative;
    background-color: $grey;
    height: 100vh;
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.border {
    position: absolute;
    left: 1px;
    top: 1px;
    right: 0;
    bottom: 8px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid $darkergrey;
    border-right: 1px solid $darkergrey;
    pointer-events: none;
}

.borderInner {
    position: absolute;
    left: 1px;
    top: 2px;
    right: 1px;
    bottom: 9px;
    border-bottom: 1px solid $darkgrey;
    border-right: 1px solid $darkgrey;
    pointer-events: none;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 8px;

    .layoutInner {
        display: flex;
        flex: 1;
    }
}

.basicShading {
    border-top: 1px solid $darkgrey;
    border-left: 1px solid $darkgrey;
    border-bottom: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}

.fuzzy {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QQJFgQM7DXdIAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAHUlEQVQI1wESAO3/ANPQyP/+////Af7////V0ckAg8QN0UJCbhUAAAAASUVORK5CYII=);
}
