@import './mixins.scss';

.titlebar {
    display: flex;
    background: linear-gradient(to right, $blue 0%, $lightblue 100%);
    color: white;
    height: 18px;

    font-size: 10px;
    font-weight: 600;
    img {
        margin-top: 1px;
    }
    span {
        margin-top: 3px;
    }
}

.menu {

    border-bottom: 1px solid $darkgrey;
    display: flex;
    margin-right: 1px;

    // the following code draws a single pixel
    overflow: visible;
    @include innerBorder {
        border-bottom: 1px solid whitesmoke;
        right: -1px;
        bottom: -1px;
        left: 100%;
    }

    .item {
        padding: 2px 5px;
        flex-shrink: 0;
        &:hover {
            background-color: $blue;
            color: white;
        }
    }

}

.toolbox {
    border-top: 1px solid white;
    border-right: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
    width: 53px;
    line-height: 0;
    flex-shrink: 0;

    .tool {
        display: inline-block; 

        > div {

            position: relative;
            width: 25px;
            height: 25px;

            img {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
            }
        }
    }
}

.workspace {
    background-color: $darkergrey;
    border-bottom: 1px solid $grey;
    border-left: 1px solid black;
    border-right: 1px solid whitesmoke;
    @include innerBorder {
        border-right: 1px solid $grey;
        border-top: 1px solid black;
    }
    padding: 3px 4px 3px 3px;
}

.palette {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid $darkgrey;
    padding: 7px 0 8px 0;
    overflow: visible;
    @include innerBorder {
        border-top: 1px solid whitesmoke;
        left: calc(100% - 1px);
        right: -1px;
        top: -2px;
    }
}

.statusbar {
    border-top: 1px solid whitesmoke;
    padding-top: 2px;
    display: flex;

    .cell {
        flex-grow: 1;
        flex-shrink: 0;
        border-top: 1px solid $darkgrey;
        border-left: 1px solid $darkgrey;
        border-bottom: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
        margin-right: 2px;
        padding: 5px 2px;
        &:last-of-type {
            margin-right: 0;
        }
        
        span {
            display: inline-block;
            margin-right: 2px;
        }
    }
}
