.titlebar {
    display: flex;
    background: linear-gradient(to right, $blue 0%, $lightblue 100%);
    color: white;
    height: 18px;

    font-size: 10px;
    font-weight: 600;
    img {
        margin-top: 1px;
    }
    span {
        margin-top: 3px;
    }
}

.menu {

    border-bottom: 1px solid $darkgrey;
    display: flex;

    .item {
        padding: 2px 5px;
        &:hover {
            background-color: $blue;
            color: white;
        }
    }

}

.toolbox {
    border-top: 1px solid white;
    border-right: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
    width: 50px;
    line-height: 0;
    .tool {
        display: inline-block; 

        > div {

            position: relative;
            width: 25px;
            height: 25px;

            img {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
            }
        }
    }
}
