<main class="window">
    <div class="border"></div>
    <div class="borderInner"></div>

    <div class="titlebar">
        <img src="/icon.png"/>
        <span>untitled - Paint</span>
    </div>

    <div class="menu">
        <div class="item"><u>F</u>ile</div>
        <div class="item"><u>E</u>dit</div>
    </div>

    <div class="toolbox">
        <img src="/toolbar.png"/>
    </div>

    <div>
        <canvas></canvas>
    </div>

</main>
