.palette {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid $darkgrey;
    padding: 7px 0 8px 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    @include innerBorder {
        border-top: 1px solid whitesmoke;
        left: calc(100% - 1px);
        right: -1px;
        top: -2px;
    }

    .current {
        position: relative;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        @extend .fuzzy;

        > div {
            width: 14px;
            height: 14px;
            border-right: 1px solid $darkergrey;
            border-bottom: 1px solid $darkergrey;
            border-top: 1px solid whitesmoke;
            border-left: 1px solid whitesmoke;
            @include innerBorder {
                border: 1px solid $grey;
            }
            position: absolute;

            &:first-of-type {
                top: 4px;
                left: 3px;
                z-index: 1;
            }

            &:nth-of-type(2) {
                top: 12px;
                left: 12px;
                z-index: 0;
            }
        }
    }

    .colors {
        display: flex;
        flex-wrap: wrap;
        height: 34px;
        width: 224px;
        flex-shrink: 0;
    }

    .color {
        flex: 0 0 auto;
        width: 14px;
        height: 14px;
    }

    // shading
    .color,
    .current {
        border-top: 1px solid $darkergrey;
        border-left: 1px solid $darkergrey;
        border-right: 1px solid whitesmoke;
        border-bottom: 1px solid whitesmoke;
        @include innerBorder {
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid $grey;
            border-bottom: 1px solid $grey;
        }
    }
}

