.workspace {
    position: relative;
    flex-grow: 1;
    background-color: $darkergrey;
    border-bottom: 1px solid $grey;
    border-left: 1px solid black;
    border-right: 1px solid whitesmoke;
    @include innerBorder {
        border-right: 1px solid $grey;
        border-top: 1px solid black;
        z-index: 1;
    }
    padding: 3px 4px 3px 3px;

    > div {
        overflow: visible;
    }

    // canvas

    .canvasWrap {
        z-index: 0;
        margin-top: 1px;
        transform-origin: left top;
    }

    canvas {
        background-color: white;
    }

    // "vdom"

    .dom {
        .element {
            pointer-events: none;
            position: absolute;
            z-index: 1;
        }

        .element.local {
            pointer-events: auto;
            z-index: 10;
        }

        .selection {
            border: 1px dashed #008;
            margin: -1px 0 0 -1px;

            canvas {
                display: block;
            }
        }

        .selection.selecting {
            // dash width: 4px
            border: 1px dashed black;
            margin: none;
        }

        .debug {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            opacity: 0.5;
            margin: 0;
            font-weight: 900;
        }
    }
}


